URxvt.font: xft:Go Mono:size=16
rofi.font: Go Mono 14
URxvt.lineSpace: -2
URxvt.scrollBar: false

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1

! Colors

*fadeColor: #002b36
*cursorColor: #93a1a1

*background: #FFFFE8
*foreground: #424242

!black
*color0:  #073642
*color8:  #002b36

!red
*color1:  #BB5D5D
*color9:  #BB5D5D

!green
*color2:  #99994C
*color10: #99994C

!yellow
*color3:  #989848
*color11: #989848

!blue
*color4:  #55AAAA
*color12: #55AAAA

!magenta
*color5:  #8888CC
*color13: #8888CC

!cyan
*color6:  #9EEEEE
*color14: #9EEEEE

!white
*color7:  #666666
*color15: #666666

