*.foreground:   #ffffff
*.background:   #09090d
*.cursorColor:  #fffffc

URxvt.font: xft:Consolas:size=15
URxvt.lineSpace: -2
URxvt.scrollBar: false

URxvt.perl-ext-common: default,matcher
URxvt.url-launcher: /usr/bin/firefox
URxvt.matcher.button: 1

! Colors

! black
*.color0:       #1a253b
*.color8:       #65737e

! red
*.color1:       #fa70a5
*.color9:       #fa70a5

! green
*.color2:       #cce366
*.color10:      #cce366

! yellow
*.color3:       #ffbe73
*.color11:      #ffbe73

! blue
*.color4:       #33ccff
*.color12:      #33ccff

! magenta
*.color5:       #9c67e6
*.color13:      #9c67e6

! cyan
*.color6:       #67e6e6
*.color14:      #67e6e6

! white
*.color7:       #ffffff
*.color15:      #ffffff
